<a href="https://colab.research.google.com/github/Nadunnissanka/Day-71-Analysis-of-Post-University-Salaries-of-Graduates-by-Major/blob/main/Analysis_of_Post_University_Salaries_of_Graduates_by_Major.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Analysis of Post-University Salaries of Graduates by Major**. 
College degrees are very expensive. But, do they pay you back? Choosing Philosophy or International Relations as a major may have worried your parents, but does the data back up their fears? PayScale Inc. did a year-long survey of 1.2 million Americans with only a bachelor's degree. We'll be digging into this data and use Pandas to answer these questions:


1.   Which degrees have the highest starting salaries? 
2.   Which majors have the lowest earnings after college?
3.   Which degrees have the highest earning potential?
4.   What are the lowest risk college majors from an earnings standpoint?
5.   Do business, STEM (Science, Technology, Engineering, Mathematics) or HASS (Humanities, Arts, Social Science) degrees earn more on average?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/drive/MyDrive/Data Science/datasets/salaries_by_college_major.csv")

In [3]:
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

## **Preliminary Data Exploration and Data Cleaning with Pandas**. 
Now that we've got our data loaded into our dataframe, we need to take a closer look at it to help us understand what it is we are working with. This is always the first step with any data science project. Let's see if we can answer the following questions: 
  



1.    How many rows does our dataframe have? 

2.    How many columns does it have?

3.    What are the labels for the columns? Do the columns have names?

4.    Are there any missing values in our dataframe? Does our dataframe contain any bad data?

We've already used the **.head()** method to peek at the top 5 rows of our dataframe. To see the number of rows and columns we can use the **shape** attribute.

In [4]:
df.shape

(51, 6)

(51, 6) --> 51 Rows & 6 Colums

We saw that each column had a name. We can access the column names directly with the **columns** attribute.

In [5]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

### **Missing Values and Junk Data**


Before we can proceed with our analysis we should try and figure out if there are any missing or junk data in our dataframe. That way we can avoid problems later on. In this case, we're going to look for NaN (Not A Number) values in our dataframe. NAN values are blank cells or cells that contain strings instead of numbers. Use the .isna() method and see if you can spot if there's a problem somewhere.

```df.isna()```   
Did you find anything? Check the last couple of rows in the dataframe:

```df.tail()```  
Aha! We have a row that contains some information regarding the source of the data with blank values for all the other other columns.

In [6]:
df.isna()

    Undergraduate Major  ...  Group
0                 False  ...  False
1                 False  ...  False
2                 False  ...  False
3                 False  ...  False
4                 False  ...  False
5                 False  ...  False
6                 False  ...  False
7                 False  ...  False
8                 False  ...  False
9                 False  ...  False
10                False  ...  False
11                False  ...  False
12                False  ...  False
13                False  ...  False
14                False  ...  False
15                False  ...  False
16                False  ...  False
17                False  ...  False
18                False  ...  False
19                False  ...  False
20                False  ...  False
21                False  ...  False
22                False  ...  False
23                False  ...  False
24                False  ...  False
25                False  ...  False
26                False  ...  False
27                False  ...  False
28                False  ...  False
29                False  ...  False
30                False  ...  False
31                False  ...  False
32                False  ...  False
33                False  ...  False
34                False  ...  False
35                False  ...  False
36                False  ...  False
37                False  ...  False
38                False  ...  False
39                False  ...  False
40                False  ...  False
41                False  ...  False
42                False  ...  False
43                False  ...  False
44                False  ...  False
45                False  ...  False
46                False  ...  False
47                False  ...  False
48                False  ...  False
49                False  ...  False
50                False  ...   True

[51 rows x 6 columns]

In [7]:
df.tail()

      Undergraduate Major  ...  Group
46             Psychology  ...   HASS
47               Religion  ...   HASS
48              Sociology  ...   HASS
49                Spanish  ...   HASS
50  Source: PayScale Inc.  ...    NaN

[5 rows x 6 columns]

We dont need this last row (50 - Source: PayScale Inc.)  	
  
### **Delete the Last Row**

We don't want this row in our dataframe. There's two ways you can go about removing this row. The first way is to manually remove the row at index 50. The second way is to simply use the .dropna() method from pandas. Let's create a new dataframe without the last row and examine the last 5 rows to make sure we removed the last row:

```clean_df = df.dropna()```   
```clean_df.tail()```

In [8]:
clean_df = df.dropna() # this will drop the rows that have NaN's and clean the data. after that this will create a new dataframe name 'clean_df'

In [9]:
clean_df.tail()

   Undergraduate Major  ...  Group
45   Political Science  ...   HASS
46          Psychology  ...   HASS
47            Religion  ...   HASS
48           Sociology  ...   HASS
49             Spanish  ...   HASS

[5 rows x 6 columns]

* As you can see the line 50 is not there.

In [14]:
clean_df.isna()

    Undergraduate Major  ...  Group
0                 False  ...  False
1                 False  ...  False
2                 False  ...  False
3                 False  ...  False
4                 False  ...  False
5                 False  ...  False
6                 False  ...  False
7                 False  ...  False
8                 False  ...  False
9                 False  ...  False
10                False  ...  False
11                False  ...  False
12                False  ...  False
13                False  ...  False
14                False  ...  False
15                False  ...  False
16                False  ...  False
17                False  ...  False
18                False  ...  False
19                False  ...  False
20                False  ...  False
21                False  ...  False
22                False  ...  False
23                False  ...  False
24                False  ...  False
25                False  ...  False
26                False  ...  False
27                False  ...  False
28                False  ...  False
29                False  ...  False
30                False  ...  False
31                False  ...  False
32                False  ...  False
33                False  ...  False
34                False  ...  False
35                False  ...  False
36                False  ...  False
37                False  ...  False
38                False  ...  False
39                False  ...  False
40                False  ...  False
41                False  ...  False
42                False  ...  False
43                False  ...  False
44                False  ...  False
45                False  ...  False
46                False  ...  False
47                False  ...  False
48                False  ...  False
49                False  ...  False

[50 rows x 6 columns]

* There are no remaining NaN's in 'clean_df' dataframe.

## **Accessing Columns and Individual Cells in a Dataframe**.  
Find College Major with Highest Starting Salaries

To access a particular column from a data frame we can use the square bracket notation, like so:
   
```clean_df['Starting Median Salary']```
  
You should see all the values printed out below the cell for just this column

In [10]:
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

To find the highest starting salary we can simply chain the **.max()** method.

```clean_df['Starting Median Salary'].max()```     
    
The highest starting salary is $74,300. But which college major earns this much on average? For this, we need to know the row number or index so that we can look up the name of the major. Lucky for us, **the .idxmax() method will give us index for the row with the largest value**.

```clean_df['Starting Median Salary'].idxmax()```
    
which is 43. To see the name of the major that corresponds to that particular row, we can **use the .loc (location) property**.

```clean_df['Undergraduate Major'].loc[43]```   
  
Here we are selecting both a column ('Undergraduate Major') and a row at index 43, so we are retrieving the value of a particular cell. You might see people using the **double square brackets notation** to achieve exactly the same thing: 

```clean_df['Undergraduate Major'][43]```  
    
If you don't specify a particular column you can use the **.loc** property to retrieve an **entire row**:

```clean_df.loc[43]```

**Question 1.1:** What college major has the highest mid-career salary?

In [24]:
highest_mid_career_median_Salary_index = clean_df['Mid-Career Median Salary'].idxmax()
major_that_has_highest_mid_career_median_Salary = clean_df['Undergraduate Major'][highest_mid_career_median_Salary_index]
print(major_that_has_highest_mid_career_median_Salary)

Chemical Engineering

**Question 1.2:** How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [25]:
chemical_engineer_row = clean_df[clean_df['Undergraduate Major'] == major_that_has_highest_mid_career_median_Salary]
chemical_engineer_mid_salary = chemical_engineer_row['Mid-Career Median Salary']
print(f"Chemical Enginner Mid Salary: {chemical_engineer_mid_salary}")

Chemical Enginner Mid Salary: 8    107000.0
Name: Mid-Career Median Salary, dtype: float64

**Question 2:** Which college major has the lowest starting salary and how much do graduates earn after university?

In [33]:
lowest_starting_salary_index = clean_df['Starting Median Salary'].idxmin()
lowest_starting_salary_major = clean_df['Undergraduate Major'][lowest_starting_salary_index]
print(f"Major that has the lowest starting salary: {lowest_starting_salary_major}\n")
print(f"Gradutes earn salary of {clean_df['Starting Median Salary'].min()} after leaving university")

Major that has the lowest starting salary: Spanish

Gradutes earn salary of 34000.0 after leaving university

**Question 3:** Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [35]:
lowest_mid_salary_index = clean_df['Mid-Career Median Salary'].idxmin()
lowest_mid_salary_major = clean_df['Undergraduate Major'][lowest_mid_salary_index]
print(f"Major that has the lowest starting salary: {lowest_mid_salary_major}\n")
print(f"people earn salary of {clean_df['Mid-Career Median Salary'].min()} after 10 years")

Major that has the lowest starting salary: Education

people earn salary of 52000.0 after 10 years